<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rajagadi</title>
</head>
<body>
  <center>
   <!--
    <h1>{% if a > b %}</h1>
           <h1>a is maxx</h1>
    <h1>{% else %}</h1>
           <h2>b is maxx</h2>
    <h1>{% endif %}</h1>
    --> 

<!--
    <h1>{% if a > b %}</h1>
        <h1> a is max</h1>
        <h1>{{a}}</h1>  
    <h1>{% endif %}</h1>

-->
<!--
<h1>{% if a > b %}</h1>
    <h1>a is max value</h1>
    <h1>if condition executed</h1>
<h1>{% elif b > c %}</h1>
    <h1>b is max value</h1>
    <h1>elif condition executed</h1>
<h1>{% else %}</h1>
    <h1>c is max value</h1>
    <h1>else condition executed</h1>
<h1>{% endif %}</h1>
-->

  </center>
</body>
</html>